<section class="d-flex justify-content-around align-items-center p-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4">
                <!--=======  full banner content  =======-->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">special offer</h5>
                        <h4>SUCCULENT GARDEN</h4>
                        <h3>GIFT BOXES</h3>

                        <p>From planter materials to style options, discover which planter is best for your space.</p>

                        <a href="shop-left-sidebar.html" class="theme-button theme-button--outline banner-button">Explore The Shop</a>
                    </div>
                </div>
                <!--=======  End of full banner content  =======-->
            </div>
            <div class="col-xl-4 col-lg-4">
                <!--=======  full banner content  =======-->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">special offer</h5>
                        <h4>SUCCULENT GARDEN</h4>
                        <h3>GIFT BOXES</h3>

                        <p>From planter materials to style options, discover which planter is best for your space.</p>

                        <a href="shop-left-sidebar.html" class="theme-button theme-button--outline banner-button">Explore The Shop</a>
                    </div>
                </div>
                <!--=======  End of full banner content  =======-->
            </div>
            <div class="col-xl-4 col-lg-4">
                <!--=======  full banner content  =======-->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">special offer</h5>
                        <h4>SUCCULENT GARDEN</h4>
                        <h3>GIFT BOXES</h3>

                        <p>From planter materials to style options, discover which planter is best for your space.</p>

                        <a href="shop-left-sidebar.html" class="theme-button theme-button--outline banner-button">Explore The Shop</a>
                    </div>
                </div>
                <!--=======  End of full banner content  =======-->
            </div>
        </div>
    </div>
</section>